---
import { getEntry, render } from "astro:content";
import Clap from "@assets/clap.svg";
import BaseLayout from "@components/BaseLayout.astro";
import { Share } from "@components/Share";
import { Avatar } from "@ui/Avatar";
import { Button } from "@ui/Button";
import { Heading } from "@ui/Heading";
import { Strong, TextLink } from "@ui/Text";

if (!Astro.params.id) return Astro.redirect("/404");
const post = await getEntry("blog", Astro.params.id);
if (post === undefined) return Astro.redirect("/404");
const { Content } = await render(post);
---

<BaseLayout author={post.data.author} description={post.data.description} title={post.data.title}>
  <main class="px-4 sm:px-6 md:px-8">
    <article class="mx-auto max-w-3xl">
      <section class="flex flex-col gap-y-3 pb-12 pt-16">
        <time class="text-base/7 text-zinc-500 dark:text-zinc-400" datetime={post.data.publishedAt.toISOString()}>
          {
            post.data.publishedAt.toLocaleDateString("en-US", {
              weekday: "long",
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </time>
        <Heading className="mb-2 text-3xl font-extrabold tracking-tight">{post.data.title}</Heading>
        <div class="flex items-center justify-between">
          <ul class="flex items-center gap-x-6">
            <li>
              <Avatar className="w-10" src={post.data.authorAvatar} />
            </li>
            <li class="flex flex-col">
              <Strong>{post.data.author}</Strong>
              <TextLink href={post.data.authorLink}>{post.data.authorAt}</TextLink>
            </li>
          </ul>
          <div class="flex items-center gap-x-4">
            <Button aria-label="like" client:visible plain>
              <Clap class="size-5" aria-hidden />
            </Button>
            <Share client:only="react" />
          </div>
        </div>
      </section>
      <section id="content">
        <Content />
      </section>
    </article>
  </main>
</BaseLayout>

<style>
  @import "../../index.css" reference;

  #content {
    h2, h3, h4, h5, h6 {
      @apply mb-2 font-semibold text-zinc-900 dark:text-white whitespace-pre-wrap leading-loose
    }
    h2 {
      @apply text-2xl
    }
    h3 {
      @apply text-xl
    }
    a {
      @apply text-zinc-950 underline decoration-zinc-950/50 outline-hidden hover:decoration-zinc-950 focus:ring-2 focus:ring-sky-500 dark:text-white dark:decoration-white/50 dark:hover:decoration-white
    }
    p {
      @apply text-base/7 text-zinc-600 dark:text-zinc-400
    }
    strong {
      @apply font-medium text-zinc-950 dark:text-white
    }
    ul {
      @apply list-inside list-disc p-5
    }
    li {
      @apply text-base/7 text-zinc-500 marker:text-black dark:text-zinc-400 dark:marker:text-white
    }
    blockquote p {
      @apply border-zinc-300 border-l-[3px] p-4
    }
    hr {
      @apply mt-12 mb-10 border border-zinc-950/10 dark:border-white/[0.2]
    }
    pre {
      @apply my-8 border p-4 text-base/6 rounded-md outline-hidden focus:ring-2 focus:ring-sky-500 dark:border-white/[0.2]
    }
  }
</style>
