---
import avatar from "@assets/avatar.png";
import clap from "@assets/clap.svg?raw";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { MDHeading2, MDHeading3, MDHeading4 } from "@components/MDHeading.tsx";
import { MDhr } from "@components/MDhr.tsx";
import { MDli, MDul } from "@components/MDList.tsx";
import { MDpre } from "@components/MDpre.tsx";
import { Share } from "@components/Share.tsx";
import BaseLayout from "@components/BaseLayout.astro";
import { Avatar } from "@ui/Avatar.tsx";
import { Heading } from "@ui/Heading.tsx";
import { Strong, Text, TextLink } from "@ui/Text.tsx";

const post = await getEntry("blog", Astro.params.slug);
if (post === undefined) return Astro.redirect("/404");
const { Content } = await post.render();
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <main class="px-4 sm:px-6 md:px-8">
    <article class="mx-auto max-w-5xl">
      <section class="flex flex-col gap-y-3 pb-12 pt-16">
        <time class="text-md leading-6 text-zinc-400" datetime={post.data.publishedAt.toISOString()}>
          {
            post.data.publishedAt.toLocaleDateString("en-US", {
              weekday: "long",
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </time>
        <Heading className="mb-2 text-3xl font-extrabold tracking-tight">{post.data.title}</Heading>
        <div class="flex items-center justify-between">
          <ul class="flex items-center gap-x-6">
            <li>
              <Avatar className="w-10">
                <Image src={avatar} class="rounded-full" alt="" loading="eager" />
              </Avatar>
            </li>
            <li class="flex flex-col">
              <Strong>{post.data.author}</Strong>
              <TextLink href={post.data.authorLink}>{post.data.authorAt}</TextLink>
            </li>
          </ul>
          <div class="flex items-center gap-x-4">
            <div class="flex items-center gap-x-2">
              <Text className="dark:text-white">10</Text>
              <Fragment set:html={clap} />
            </div>
            <Share client:only="react" />
          </div>
        </div>
      </section>
      <Content
        components={{
          img: Image,
          h2: MDHeading2,
          h3: MDHeading3,
          h4: MDHeading4,
          p: Text,
          a: TextLink,
          strong: Strong,
          ul: MDul,
          li: MDli,
          hr: MDhr,
          pre: MDpre,
        }}
      />
    </article>
  </main>
</BaseLayout>
