---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Heading } from "@ui/Heading.tsx";
import { Text } from "@ui/Text.tsx";
import { Badge, type BadgeColor } from "@ui/Badge.tsx";

const allBlogPosts = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});

const sortedPosts = allBlogPosts.slice().sort((a, b) => {
  return new Date(b.data.publishedAt).getTime() - new Date(a.data.publishedAt).getTime();
});
---

<BaseLayout>
  <main class="max-w-4xl mx-auto mt-4 px-4 lg:px-0">
    <Heading className="text-4xl mb-8">All of my posts</Heading>
    <div class="relative sm:pb-8 sm:ml-[calc(2rem+1px)] md:ml-[calc(3.5rem+1px)] lg:ml-[max(calc(14.5rem+1px),calc(100%-48rem))]">
      <hr class="hidden absolute top-3 bottom-0 right-full h-auto mr-7 md:mr-[3.25rem] border border-white/[0.2] sm:block" />
      <ul class="space-y-16">
        {sortedPosts.map(post => (
          <li>
            <article class="relative">
              <svg class="hidden absolute right-full mr-6 top-2 text-[#464649] md:mr-12 w-[calc(0.5rem+1px)] h-[calc(0.5rem+1px)] overflow-visible sm:block" viewBox="0 0 9 9">
                <circle class="fill-zinc-900" cx="4.5" cy="4.5" r="4.5" stroke="currentColor" stroke-width="2" />
              </svg>
              <a href={`/posts/${post.slug}`} class="relative block h-fit cursor-pointer" data-astro-prefetch>
                <div class="pt-8 lg:pt-0">
                  <Heading level={2} className="text-lg mb-1">{post.data.title}</Heading>
                  <Text>{post.data.description}</Text>
                  <div class="flex flex-row gap-x-2 mt-3">
                    {post.data.tags.map(tag => (
                      <Badge color={tag.color as BadgeColor}>{tag.title}</Badge>
                    ))}
                  </div>
                </div>
                <dl class="absolute left-0 top-0 lg:left-auto lg:right-full lg:mr-[calc(6.5rem+1px)]">
                  <dt class="sr-only">Date</dt>
                  <dd class="whitespace-nowrap text-sm leading-6 text-zinc-400">
                    <time datetime={post.data.publishedAt.toISOString()}>
                      {post.data.publishedAt.toLocaleDateString("en-US", { year: "numeric", month: "long", day: "numeric" })}
                    </time>
                  </dd>
                </dl>
              </a>
            </article>
          </li>
        ))}
      </ul>
    </div>
  </main>
</BaseLayout>
