---
import github from "@assets/github.svg?raw";
import logout from "@assets/logout.svg?raw";
import { Image } from "astro:assets";
import { Avatar } from "@ui/Avatar";
import { Button } from "@ui/Button";
import { TextLink } from "@ui/Text";

const { user } = Astro.locals;
---

<header
  class="sticky top-0 z-50 w-full flex-none border-b border-white/[0.2] p-2 backdrop-blur transition-colors duration-500 sm:px-4"
>
  <nav class="mx-auto flex max-w-7xl items-center justify-between">
    <TextLink href="/" newTab={false} className="text-3xl no-underline">Léo Mercier</TextLink>
    <div class="flex items-center gap-x-3 md:gap-x-6">
      {/* <TextLink
        href="https://github.com/Sawangg"
        className="text-white no-underline"
        aria-label="github"
        className="h-fit"
        data-astro-prefetch
      >
        <Fragment set:html={github} />
      </TextLink>
      */}
      <TextLink href="/" newTab={false} className="no-underline">About</TextLink>

      <hr class="h-7 border border-white/[0.2]" />

      {!user ?
        <TextLink href="/api/login/github" newTab={false} className="no-underline">Sign in</TextLink>
        :
        <section class="flex items-center gap-x-4">
          <Avatar className="size-6">
            <Image src={user.image} inferSize={true} alt="" class="rounded-full" />
          </Avatar>
          <form method="post" action="/api/logout">
            <Button type="submit" className="dark:text-red-700 dark:border-none dark:bg-transparent" client:only aria-label="logout" plain>
              <Fragment set:html={logout} />
            </Button>
          </form>
        </section>
      }
    </div>
  </nav>
</header>
